/**
 * Document Styling for Rosetta Web Application
 */
body {
    font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app {
    margin-top: 5rem;
}

/* General Page Edits */
h1 {
    font-weight: 400;
    font-size: 5.0rem;
}
p {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
ul#checklist {
    font-size:; 1.75rem;
    list-style: none;
}
#project-title {
    display: inline-block;
    cursor: pointer;
}
#project-title:focus {
    cursor: text;
}
#project-title:focus {
    cursor: text;
}
#project-title > span {
    color: #adadad;
}


/* Navbar Setup */
div#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
div#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecf0f1;
}

div#nav li {
    float: left;
    margin-bottom: 0;
}

div#nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#nav li a:hover:not(.active) {
    color: white;
    background-color: #bdc3c7;
    transition: all ease 0.35s;
}

div#nav li a.active {
    color: white;
    background-color: #3498db;
    transition: all ease 0.35s;
}

div#nav li a.active:hover {
    background-color: #2980b9;
}

/* Download-Specific */
#download {
    float: right !important;
    background-color: #ddd !important;
    transition: all ease 0.35s;
}

#download a:hover.disallow  {
    cursor: not-allowed;
    color: #666 !important;
    background-color: #ddd !important;
    transition: all ease 0.35s;
}

#download a:not(.disallow) {
    color: white !important;
    background-color: #2ecc71 !important;
    transition: all ease 0.35s;
}

#download a:hover:not(.disallow)  {
    background-color: #27ae60 !important;
    transition: all ease 0.35s;
}






/* Checklist Helper Class */
.strikethrough {
    text-decoration: line-through;
}


/* Editor Styling */
.CodeMirror, .CodeMirror-scroll {
    min-height: 600px;
}
textarea {
    height: 670px;
    width: 100%;
}
div.editor-toolbar.fullscreen {
    top: 50px;
}
div.CodeMirror-fullscreen,
div.editor-preview-active-side {
    top: 100px;
}

/* Project Component UI */
#modules ,
#logistics {
    position: relative;
}
#new-module > input ,
#new-logistic > input {
    border-radius: 4px 0px 0px 4px;
    z-index: 1;
    width: 225px;
}
#new-module > span ,
#new-logistic > span {
    position: absolute;
    z-index: 0;
    left: 224px;
    padding-top: 7px;
    padding-left: 2rem;
    height: 29px;
    border-top: 1px solid #1abc9c;
    border-bottom: 1px solid #1abc9c;
    border-right: 1px solid #1abc9c;
    border-radius: 0px 4px 4px 0px;
    width: 50px;
    color: white;
    background-color: #1abc9c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#new-module > span:hover ,
#new-logistic > span:hover {
    background-color: #16a085;
    border-color: #16a085;
    cursor: pointer;
}
#new-module > span {
    background-color: #9b59b6;
    border-color: #9b59b6;
}
#new-logistic > span {
    background-color: #1abc9c;
    border-color: #1abc9c;
}
#new-module > span:hover {
    background-color: #8e44ad;
    border-color: #8e44ad;
}
#new-logistic > span:hover {
    background-color: #16a085;
    border-color: #16a085;
}

#components-list {
    min-height: 75px;
    margin-top: 1rem;
}

.data-component {
    background-color: #9b59b6;
}
.logistics-component {
    background-color: #1abc9c;
}

#components-list span {
    display: inline-block;
    margin: 0 0.5rem;
    margin-bottom: 10px;
    /*background-color: #34495e;*/
    border-radius: 24px;
    padding: 0.15rem 3rem;
    color: white;
    min-width: 30px;
    text-align: center;
    transition: background-color ease 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#components-list span:hover {
    background-color: #95a5a6;
    cursor: pointer;
}


#about h2 {
    margin-top: 4rem;
}